# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

**Objectives:**
- List popular languages for Data Science
- List common libraries used by Data Scientists
- List common development environmetn open-source tools for Data Science
- Perform computations in Jupyter Notebook

Some of the commonly used libraries used by Data Scientists include:

1. Panda 
2. Matplotlib
3. Apache Spark

|Data Science Tools|
|------------------|
|Git|
|Github|
|Gitlab|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2: Author
Frances